<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="prjLojaCarros.Properties.Settings.db_230910ConnectionString"
            connectionString="Data Source=darnassus\motorhead;Initial Catalog=db_230910;User ID=230910;Password=12345678"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>